<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--
        URL example: jdbc:mysql://127.0.0.1/test
        If there are time zone errors during connection, add the following string after the url:
        ?autoReconnect=true&amp;useSSL=false&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC -->
        <property name="hibernate.connection.url">jdbc:mysql://insert-url-here</property>
        <property name="hibernate.connection.username">insert-username-here</property>
        <property name="hibernate.connection.password">insert-password-here</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

    </session-factory>

</hibernate-configuration>

