<!--
File: index.html
Versione: 1.0
Autore: Antonio Moz
Registro Modifiche:
Anna Poletti, creazione file, 2018-06-10
Stefano Nordio, stesura html 2018-06-15
Antonio Moz, versione ufficiale, 2018-06-15
*/

-->
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>IronWorks - Web Application</title> <!-- from detail to general -->

    <!-- meta -->
    <meta name="description" content="Web application to create robustness diagrams and automatic generation of Java and SQL codes."/> <!-- max 150 char -->
    <meta name="keywords" content="robustness diagrams,editor,java,sql,web application,no-js,swearoncode"/> <!-- max 10 -->
    <meta name="author" content="SwearOnCode"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex, nofollow"/>

    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- favicon -->
    <link rel="shortcut icon" href="../Model/FirstPages/HomePage/images/favicon.ico"/>

    <!-- script -->
    <script type="text/javascript" src="../ExternalLibraries/scripts/jquery.js"></script>
    <script type="text/javascript" src="../Controller/FirstPages/firstpages.js"></script>
</head>

<body onload="getHomePage()">
    <noscript>
        IronWorks è un'applicazione web che necessita dell'utilizzo di JavaScript per un suo corretto
        funzionamento.<br/>
        Si prega di abilitarlo nel browser e riprovare.<br/><br/>
        Il team di sviluppo: <em>SwearOnCode</em>
    </noscript>
</body>

</html>